@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Product


<!-- Item starts -->
<div class="row menu-item">
    <div class="col-3 p-0 position-relative">
        <img src="@Model.Photo" class="img-responsive" alt="" asp-action="Details" asp-route-id="@Model.Id">
        <a href="#order" class="btn button-style button-style-2" type="button" onclick="AddToCart('@Model.Id')">Add</a>
    </div>
    <div class="col-9 pl-4">
        <div class="row no-gutters">
            <div class="col-9 menu-item-name">
                <h6>@Model.Name</h6>
            </div>
            <div class="col-3 menu-item-price text-right">
                <h6>$"@Model.Price"</h6>
            </div>
        </div>
        <div class="menu-item-description">
            <p>"@Model.Description"</p>
        </div>
    </div>
</div>
<!-- Item ends -->

